@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}

/* ---------------------------------------------root------------------------------------------- */
:root {

    --ff-open: "Open Sans", sans-serif;

    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;


    --black-color: #000000;
    --white-color: #ffff;
    --primary-color: #0F1418;
    --light-black-color: #010406;


    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-64: 64px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-100: 100px;
    --lh-188: 188px;
}

.ff-open {
    font-family: var(--ff-open);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-64 {
    line-height: var(--lh-64);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.curser {
    cursor: pointer;
}

.bg-color {
    background-color: var(--light-black-color);
}

/* header ===========================*/
.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
}

.nav_layer {
    transform: translate(0px, 12px);
}

.nav_btn {
    background: linear-gradient(107.02deg, #00FFE1 12.76%, #6E5DF6 91.81%);
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--white-color);
    border-radius: 4px;

}

.max_965 {
    max-width: 965px;
}

.max-w-665 {
    max-width: 665px;
}

.nav_bg_color {
    background: var(--primary-color);
}

.pt_12 {
    padding-top: 12px;
}

.pb_13 {
    padding-bottom: 13px;
}

.header-bg_img {
    background-image: url("../img/png/hero_section_bg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pt_28 {
    padding-top: 28px;
}

.pt_39 {
    padding-top: 39px;
}

.height-60 {
    height: 60px;
}

.heading_gradient {
    background: linear-gradient(177.45deg, #00FFE1 71.78%, #6E5DF6 95.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about_card {
    padding: 20px 20px 23px 20px;
    position: relative;
    backdrop-filter: blur(20px);
}

.about_card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 2px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}


/*======================== slider =======================*/
.slider_itm {
    padding: 20px 72px 20px 20px;
    width: 376px !important;
}

.slider_gradient {
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
}


/*======================== understang ==============================*/
.grident_box {
    padding-right: 25px;
    padding-left: 50px;
    padding-top: 25px;
    min-height: 268px;
    border-radius: 15px;
    background: linear-gradient(82.41deg, #00FFE1 -12.77%, #6E5DF6 93.08%);
}

.max-w-360 {
    max-width: 360px;
}

.stocks_card {
    border: 1px solid #0000001A;
    background-color: var(--white-color);
    border-radius: 15px;
    max-width: 471px;
    padding: 20px;
    transform: translate(40px, -81px);
}

.stock_card_heading {
    background: linear-gradient(82.75deg, #00FFE1 -11.09%, #6E5DF6 55.46%),
        linear-gradient(180deg, #9B77E8 0%, #6854FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stock_potential {
    box-shadow: 0px 0px 11.1px 0px #0000001A;
    border-radius: 10px;
    width: 100%;
    padding: 8px 83px 8px 8px;
}

.color_green {
    color: #15AA15;
}

/*================== top 700 =====================*/
.colorfull_line {
    width: 100%;
    height: 3px;
    background: linear-gradient(91.31deg, #00FFE1 0.25%, #7E34DC 28.47%, #AEAEAE 50.45%, rgba(110, 93, 246, 0) 95.53%);
}

.mt_40 {
    margin-top: 40px;
}

/*================== statistics for today ====================*/
.number_card {
    max-width: 362px;
    padding: 34px 46px 50px 46px;
}

.gradinet_cirle {
    position: relative;
    border-radius: 50%;
    width: 270px;
    height: 270px;
}


.gradinet_cirle::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 8px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/*==================== benefit section ===============*/
.max_733 {
    max-width: 733px;
}

.benefit_card {
    width: 240px;
    height: 240px;
    border-radius: 12px;
    border: 1px solid transparent;
    padding: 45px 20px 45px 20px;
    position: relative;
    transition: all 300ms linear;
}

.pt_32 {
    padding-top: 32px;
}


.benefit_card:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 1px;
    background: linear-gradient(171.68deg, #00FFE1 39.97%, #6E5DF6 107.69%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.max-w-974 {
    max-width: 974px;
}

@media (min-width:576px) {
    .pt_sm_100 {
        padding-top: 100px !important;
    }

    .mt_sm_90 {
        margin-top: 90px !important;
    }

    .pt_sm_60 {
        padding-top: 60px !important;
    }

    .mt_sm_55 {
        margin-top: 55px !important;
    }

    .pt_sm_75 {
        padding-top: 75px !important;
    }

    .fs-md-36 {
        font-size: var(--fs-36);
    }

    .lh-md-49 {
        line-height: var(--lh-49);
    }
}

@media (min-width:768px) {
    .fs-md-48 {
        font-size: var(--fs-48);
    }

    .lh-md-64 {
        line-height: var(--lh-64);
    }

    .fs-md-52 {
        font-size: var(--fs-52);
    }

    .lh-md-64 {
        line-height: var(--lh-64);
    }
}

@media (min-width:992px) {
    .max_lg_w_628 {
        max-width: 628px;
    }

    .min_lg_h_354 {
        min-height: 354px;
    }

    .pt_lg_80 {
        padding-top: 80px !important;
    }

    .pt_lg_200 {
        padding-top: 200px !important;
    }

    .mt_lg_60 {
        margin-top: 60px !important;
    }

    .pt_lg_180 {
        padding-top: 180px !important;
    }

    .mt_lg_150 {
        margin-top: 150px !important;
    }

    .mt_lg_80 {
        margin-top: 80px !important;
    }

    .pt_lg_150 {
        padding-top: 150px !important;
    }

    .fs-lg-48 {
        font-size: var(--fs-48);
    }

    .lh-lg-61 {
        line-height: var(--lh-61);
    }

    .pt_lg_100 {
        padding-top: 100px !important;
    }
}